@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: rgb(245, 220, 197);
}

h1 {
    text-align: center;
    margin-top: 7%;
    font-size: 50px;
}

.modal-body {
    margin: auto;
    margin-top:5%;
    width: 75%;
    border: 3px solid orange;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.modal-body button {
    padding: 10px;
}

.mainTable {
    margin-bottom: 50px;
}

.zamowBtn {
    margin-left: 50px;
}

.modal-footer {
    margin: auto;
    margin-top: 20px;
}


/*incrase/decrase*/

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 20px;

    text-align: center;
    vertical-align: middle;
    padding: 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
  .value-button:hover {
    cursor: pointer;
  }
 
  #stylized input{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;
}
  
 